h1{
    border-style: solid;
    border-width: 3px;
    border-color: purple;
    /* 
        As single line/ Shorthand syntax
    border: 3px solid purple;
    */
    border-radius: 15px;
}
p{
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted orange;
    border-right: 3px dotted green;
    border-radius: 10px;
}