body{
    background-color: slategray; /* this is a named color.*/
}
#p1{
    color: tomato;  /* this is a named color.*/
}
#p2{
    color: rgb(102, 222, 255);    /* this is an rgb{red,green,blue) value color*/
}
#p3{
    color: #59ff5f;    /* this is a hexadecimal((#) value color*/
}
#p4{
    color: hsl(283, 100%, 100%);    /* this is an hsl(hue,saturation,lightness) value color */
}