.container{
    border: 5px solid black;
    height: 90vh;
    display: flex;
    flex-direction: row; /*col, col-reverse*/
    /*justify-content: space-evenly; /center/
    align-items: center; 
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 1em;
    column-gap: 1em; */
}
.box{
    width: 150px;
    height: 150px;
    font-size: 5em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 70%);
    /*align-self: center; */
}
#box2{
    background-color: hsl(69, 100%, 70%);
}
#box3{
    background-color: hsl(123, 100%, 70%);
}
#box4{
    background-color: hsl(192, 100%, 70%);
}