/*
pagination: method by which a document is separarted into pages and numbers are assigned.
*/
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(49, 230, 49);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(214, 209, 209);
    border-radius: 5px;
}