/*
modify the behaviour of an element according to certain state
defined by :class eg :hover
*/
a:link{
    color: rgb(109, 109, 230);
}
a:hover{
    color: rgb(63, 226, 63);
    font-size: 1.1em;
}
a:active{ /*when holding down cursor*/
    color: blue;
}
a:visited{
    color: yellow;
}

