/*
modify the behaviour of an element according to certain state
defined by :class eg :hover
*/
a:link{
    color: rgb(109, 109, 230);
}
a:hover{
    color: rgb(63, 226, 63);
    font-size: 1.1em;
}
a:active{ /*when holding down cursor*/
    color: blue;
}
a:visited{
    color: yellow;
}

li:hover{
    background-color: hsl(60, 100%, 62%);
}
/*
li:not(:hover){
    background-color: rgb(245, 245, 245);
}
*/
li:nth-child(odd){
    background-color: hsl(60, 100%, 62%);
}
li:nth-child(even){
    background-color: rgb(98, 155, 230);
}
#greeting p{
    background-color: rgb(107, 164, 240);
    padding: 10px;
    display: none;
}
#greeting:hover p{
    display: block;
}